<div class="all-jobs" ng-controller="JobsController">
  <div class="row">
    <div class="col-md-12">
      <div ng-repeat="job in activeJobs() | orderBy: 'createdAt'">
        <div ng-include="'views/partials/jobForm.html'"></div>
      </div> <!-- end for job -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>New Job Application</h3>
      <form>
        <div class="form-group">

          <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
          <input type="text" class="form-control input-lg" 
                 placeholder="Company Name" ng-model="formData.name">
        </div>

        <!-- createToDo() WILL CREATE NEW TODOS -->
        <button type="submit" class="btn btn-primary btn-lg" ng-click="createJob()">Add</button>
      </form>
    </div>
    
    <div class="col-md-6">
      <h3 ng-if="cancelledJobs()">Didn't Work Out</h3>
      <div class="cancelled-job" ng-repeat="job in cancelledJobs() | orderBy: 'createdAt'">
        <div ng-include="'views/partials/jobCancelled.html'"></div>
      </div>
    </div>
  
  </div>
</div>