html body footer {
  bottom: 0;
  height: 100px;
  margin-top: 50px;
}

html body footer.well {
  margin-bottom: 0;
}

html body .spacer {
  margin-top: 0.5em;
}

html body .spacer-1 {
  margin-top: 1em;
}

html body .spacer-2 {
  margin-top: 2em;
}

html body .bs-rating {
  font-size: 20px;
}