<div ng-controller="JobController">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <button type="button" class="btn btn-success btn-sm"
                ng-click="setState('base')">
          Restore
        </button>
        <button type="button" class="btn btn-danger btn-sm"
                ng-click="deleteJob(job._id)">
          Delete
        </button>
      </div>
      <h4>
        <a href='#' editable-text="job.name">
          {{ job.name }}
        </a>
      </h4>
    </div> <!-- end col -->
  </div> <!-- end row -->
</div>